<div class="container">
  <div class="title">
    <h3>Preciso de ajuda com...</h3>
  </div>
  <div class="row">
    <% @issues.each do |issue| %>
    <div class="col-4 mt-3" id="center" data-controller="create-chat">
    </div>
    <div class="col-4 mt-3" id="center">
      <button class="card-category-long">
        <%= link_to create_chat_path(issue: issue.id, category: issue.category.id, app: params[:app_id]), data: { 'turbo-method' => :post } do %>
          <p><%= issue.name %></p>
        <% end %>
      </button>

    </div>
    <div class="col-4 mt-3" id="center">
    </div>
    <% end %>
  </div>
</div>
