<% if user_signed_in? && current_user.role == "Av칩s" %>
  <%= link_to "Tenho problemas", category_index_path  %>
<% else !user_signed_in? %>
  <div class="container container-flex">
      <%# <img src="vovo_main.png" alt="Vov칩 feliz mexendo no celular"> %>
      <%= image_tag "vovo_main.png", class: "vovo-main" %>
    <div class="main-title">
      <h1>A tecnologia n칚o ser치 mais um problema 游땕</h1>
      <h2>Realize tarefas cotidianas de forma r치pida e segura com ajuda de um neto de aluguel</h2>
      <a href="/users/sign_up" class="nav_login begin">Clique para Come칞ar</a>
    </div>
  </div>
<% end %>
