.container-fluid {
  margin: 10px 90px;
}

.navbar-lewagon {
  justify-content: space-between;
}
.navbar-brand{
  margin-bottom: 35px;
  padding-left: 15px;
  flex-grow: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  padding: 0;
  margin: 0;
  width: 180px;
}
.bar_separate{
  padding: 9px 5px;
  font-size: 22px;
  color: #FFBBF4;
}

.nav-item{
  margin: 0px 15px;
}

.nav-link{
  color: #FFBBF4;
  font-size: 25px;

  &:hover {
    color: white;
  }
}

#navbarDropdown{
  height: 60px;
  width: 60px;
}
.nav_login{
  background-color: #58BC82;
  text-align: center;
  padding: 12px 45px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  box-shadow: var(--bs-border-color-translucent) 20px 20px 30px;

  &:hover{
    background-color: #20c997;
    transition: 0.4s;
    color: white;
    box-shadow: none;
  }
}
@media screen and (max-width: 600px) {
  div.bar_separate {
    display: none;
  }
  div.avatar_nav{
    display: none;
  }
  div.user_container{
    display: none;
  }

}
@media screen and (min-width: 600px) {
  #avatar_migrate{
    display: none;
  }
  #small_login{
    display: none;
  }
  div.sm_user_info{
    display: none;
  }
}
