.messages{
  height: 450px;
  overflow-y:scroll;
}
.messages::-webkit-scrollbar {
  background-color: transparent;
}
#message-my{
  display: flex;
  justify-content: flex-end;
  padding: 0 10px 0 0;
  .content_message{
    background-color: white;
    margin: 25px 5px 0 0;
    border: 1px solid white;
    padding: 10px;
    width: fit-content;
    border-radius: 10px 0 10px 10px;
    color: #340053;
    p{
      margin: 0;
    }
    img{
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
  }
}
#message-message{
  display: flex;
  justify-content: flex-start;
  padding: 0 0 0 10px;
  .content_message{
    background-color: white;
    margin: 25px 0 0 5px;
    border: 1px solid white;
    padding: 10px;
    width: fit-content;
    border-radius: 0 10px 10px 10px;
    color: #340053;
    p{
      margin: 0;
    }
    img{
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
  }
}
#message-infomy{
  display: flex;
  justify-content: flex-end;
  padding: 10px 15px 0 0;
  strong{
    color: white;
    font-size: 10px;
  }
  i{
    color: white;
    font-size: 10px;
  }
}
#message-infomessage{
  display: flex;
  justify-content: flex-start;
  padding: 10px 0 0 15px;
  strong{
    color: white;
    font-size: 10px;
  }
  i{
    color: white;
    font-size: 10px;
  }
}
.message-container{
  padding: 0px 10px;
  background-color: #340053;
  border-radius: 25px;
  position: relative;
  width: 50%;
}
.form_message{
  padding: 5px 20px;
  margin: 0;
}
.icon_chat{
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 35px;
  color: white;
  align-items: center;
}
.icon_chat:hover{
  cursor: pointer;
}
.btn-img{
  padding-bottom: 15px;
}
.d-flex{
  align-items: center;
}
.no-message{
  padding: 10px 20px;
  color: white;
  font-size: 20px;
}

.chatroom-container{
    justify-content: center;
    display: flex;
    gap: 10px;
}

.message-container, .user-container {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
  opacity: 0.9;
}

.send{
  margin-left: 5px;
  border-radius: 42%;
  background-color: #20c997;
  border-color: #20c997;
  color: white;

  &:hover{
    background-color: #20c997;
    border-color: #20c997;
    color: white;
    opacity: 0.9;
  }
}
