.user-container{
  height: min-content;
  max-width: 300px;
  background-color: #340053;
  border-radius: 20px;
  max-height: 565px;
  overflow: auto;
}

.user_img{
  display: flex;
  justify-content: center;
  img{
    border-radius: 50px;
    width: 180px;
    height: 180px;
    object-fit: cover;
    padding: 20px;
  }
}

.user_name{
  color: white;
  padding: 10px 20px;
}

.description{
  color: white;
  padding: 20px;
  text-align: center;
}
.btn-close-chat-container{
  text-decoration: none;
}
.btn-close-chat{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #20c997;
  border: none;
 p{
  color: white;
  padding: 10px 0 0 10px;
  font-weight: bold;
 }
 i{
  color: white;
  padding: 12px 0 0 10px;
 }
 &:hover{
  opacity: 0.9;
 }
}
.btn-cancel-chat{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: red;
 p{
  color: white;
  padding: 10px 0 0 10px;
  font-weight: bold;
 }
 i{
  color: white;
  padding: 12px 0 0 10px;
 }
}
