.user_container{
  height: min-content;
  max-width: 300px;
  background-color: #340053;
  border-radius: 20px;
  max-height: 565px;
  overflow: auto;
}

.user_img{
  display: flex;
  justify-content: center;
  img{
    border-radius: 50px;
    width: 180px;
    height: 180px;
    object-fit: cover;
    padding: 20px;
  }
}

.user_name{
  color: white;
  padding: 10px 20px;
}

.description{
  color: white;
  padding: 20px;
  text-align: center;
}
